:root {
  font-size: 62.5%; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-size: 1.6rem; }

.wrapper {
  margin: 0;
  padding: 0;
  height: 100%; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

.button {
  height: 4rem;
  width: 10rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px #111111;
  background-color: #7fdbff;
  color: #111111;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border-radius: 0.8rem;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }
  .button:hover {
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background-color: #39cccc;
    color: #ffffff; }

.menu {
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  align-items: center;
  border-radius: 0.7rem;
  z-index: 100;
  cursor: pointer;
  color: #ffffff;
  background: rgba(84, 84, 84, 0.5);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none; }
  .menu:hover {
    background: rgba(84, 84, 84, 0.95);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .menu i {
    vertical-align: middle;
    line-height: 5rem;
    margin-left: auto;
    margin-right: auto; }

nav.sidebar-wrapper {
  position: fixed;
  right: -23rem;
  width: 23rem;
  height: 100%;
  border: 0.05rem white solid;
  z-index: 10;
  font-family: "Merriweather Sans", "Sans Serif";
  background-color: #7fdbff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

nav.sidebar-wrapper.active {
  right: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.sidebar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .sidebar-ul li:nth-of-type(1) a {
    padding: 2rem 0 3rem 4rem;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #111111;
    text-decoration: none;
    background-color: #39cccc; }
  .sidebar-ul li.sidebar-item a {
    padding: 1rem 0 1rem 4rem;
    text-decoration: none;
    color: #111111;
    display: inline-block;
    width: 100%;
    height: 100%; }
  .sidebar-ul li.sidebar-item:hover {
    background-color: #39cccc; }

header {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url("../img/header-bg.jpg") center no-repeat;
  background-size: cover; }

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Share Tech Mono", monospace; }

.header-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .header-description h1 {
    margin-bottom: 0.5rem;
    font-size: 4rem; }
  .header-description p {
    font-size: 2rem; }

.header-extension {
  margin-top: 5rem; }

.header-button {
  background-color: #7fdbff;
  color: #111111; }
  .header-button:hover {
    background-color: #39cccc;
    color: #ffffff; }

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  font-family: "Merriweather Sans", "Sans Serif";
  background: rgba(158, 251, 255, 0.5); }

.about-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.about-description {
  text-align: center; }

.about-extension {
  margin-top: 5rem; }

.about-button {
  background-color: #7fdbff;
  width: 14rem; }
  .about-button:hover {
    background-color: #39cccc;
    color: #ffffff; }

.services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-family: "Merriweather Sans", "Sans Serif"; }

.services-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.services-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .services-items .item {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .services-items .service-logo {
    height: 15rem;
    width: 15rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #7fdbff;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .services-items .service-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; }

.callout {
  background: url("../img/callout-bg.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Merriweather Sans", "Sans Serif";
  display: flex;
  justify-content: center;
  align-items: center; }

.callout-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.callout-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.callout-extension {
  margin-top: 5rem; }

.callout-button {
  width: 15rem; }

.projects,
.projects-inner,
.projects-title,
.projects-items {
  display: flex;
  justify-content: center;
  align-items: center; }

.projects {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-family: "Merriweather Sans", "Sans Serif";
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.projects-inner, .projects-title {
  flex-direction: column; }

.projects-items {
  padding-top: 5rem;
  flex-wrap: wrap; }

.item-wrapper {
  width: 50rem;
  height: 37rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative; }
  .item-wrapper .item,
  .item-wrapper .item-background {
    width: 100%;
    height: 100%;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
    .item-wrapper .item:hover,
    .item-wrapper .item-background:hover {
      -webkit-transition: 0.1s ease-in-out;
      -moz-transition: 0.1s ease-in-out;
      -ms-transition: 0.1s ease-in-out;
      -o-transition: 0.1s ease-in-out;
      transition: 0.1s ease-in-out; }
  .item-wrapper .item {
    z-index: 9; }
    .item-wrapper .item:hover {
      transform: scale(0.9);
      opacity: 0.3; }
  .item-wrapper .item-background {
    transform: scale(0.9);
    opacity: 1;
    background-color: #7fdbff;
    position: absolute; }
  .item-wrapper #item-1 {
    background: url(../img/project-1.jpg) no-repeat center;
    background-size: cover; }
  .item-wrapper #item-2 {
    background: url(../img/project-2.jpg) no-repeat center;
    background-size: cover; }
  .item-wrapper #item-3 {
    background: url(../img/project-3.jpg) no-repeat center;
    background-size: cover; }
  .item-wrapper #item-4 {
    background: url(../img/project-4.jpg) no-repeat center;
    background-size: cover; }

footer,
.footer-inner,
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer-inner {
  width: 100%;
  height: 100%;
  background-color: #7fdbff; }

.footer-inner {
  padding-top: 7.5rem;
  padding-bottom: 5rem;
  flex-direction: column; }

.footer-social {
  flex-wrap: wrap;
  flex-direction: row; }
  .footer-social a {
    text-decoration: none;
    color: #111111;
    margin-left: 2rem;
    margin-right: 2rem; }
  .footer-social div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #39cccc;
    cursor: pointer; }

.footer-copyright {
  margin-top: 3rem;
  font-family: "Merriweather Sans", "Sans Serif"; }

/*# sourceMappingURL=style.css.map */
