.about-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
	font-family: $primary-font;
	background: fade-out($lightaqua, 0.5);
}

.about-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-description {
	text-align: center;

}

.about-extension {
	margin-top: 5rem;
}

.about-button {
	background-color: $primary;
	$color: $black1;
	width: 14rem;

	&:hover {
		background-color: $secondary;
		color: $white;
	}


}
