.menu {
	position: fixed;
	right: 1.5rem;
	top: 1.5rem;
	width: 5rem;
	height: 5rem;
	display: inline-flex;
	align-items: center;
	border-radius: 0.7rem;
	z-index: 100;
	cursor: pointer;

	color: $white;
	background: fade-out($darkgray, 0.5);
	@include transition(0.5s);
	text-decoration: none;

	&:hover {
		background: fade-out($darkgray, 0.05);
		@include transition(0.5s);
	}

	i {
		vertical-align: middle;
		line-height: 5rem;
		margin-left: auto;
		margin-right: auto;
	}
}

nav.sidebar-wrapper {
	position: fixed;
	right: -23rem;
	width: 23rem;
	height: 100%;
	border: 0.05rem white solid;
	z-index: 10;

	font-family: $primary-font;
	background-color: $primary; 

	@include transition(0.5s);
}

nav.sidebar-wrapper.active {
	right: 0;
	@include transition(0.5s);
}

.sidebar-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li:nth-of-type(1) {
		a {
			padding: 2rem 0 3rem 4rem;
			width: 100%;
			height: 100%;
			display: inline-block;
			color: $black1;
			text-decoration: none;
			background-color: $secondary;
		}
	}

	li.sidebar-item {

		a {
			padding: 1rem 0 1rem 4rem;
			text-decoration: none;
			color: $black1;
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}

	li.sidebar-item {
		
		&:hover {
			background-color: $secondary;
		}
	}
}
