$header-font: "Share Tech Mono", monospace;
$primary-font: "Merriweather Sans", "Sans Serif";

// colors
$white: #ffffff;
$black1: #111111;
$dimgray: #696969;
$darkgray: #545454;
$aqua: #7fdbff;
$lightaqua: #9efbff;
$teal: #39cccc;

$primary: $aqua;
$secondary: $teal;
