body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	height: 100%;
	background-color: #092B40;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	overflow: hidden;
	background-color: #092B40;
	color: #ffffff;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 400px;
}

.inner p {
	padding: 0 ;
	margin: 0;
}

.inner-random a {
  	text-decoration: none;
  	color: #fff;
}

.inner-random a:visited {
  	color: #fff;
  	text-decoration: none;
}

.inner-random a:active {
  	color: #fff;
  	text-decoration: none;
}

.inner-search {
	position: relative;
}

.search-icon input {
	padding: 0;
	width: 34px;
	height: 34px;
  	margin: 10px;
  	border: 4px solid #D96F32;
  	background-color: #092B40;
  	border-radius: 50%;
  	cursor: pointer;
  	color: #ffffff;
	-webkit-transition: 0.35s;
	-moz-transition: 0.35s;
	transition: 0.35s;
}

.search-icon-expand input {
	width: 250px;
	height: 34px;
	border-radius: 30px;
	cursor: auto;
	padding: 0 15px 0 15px;
  	margin: 10px;
  	border: 4px solid #D96F32;
  	background-color: #092B40;
  	border-radius: 17px;
  	color: #ffffff;
	-webkit-transition: 0.35s;
	-moz-transition: 0.35s;
	transition: 0.35s;
}

/* close search is for magnifier handler*/
.close-search {
	width: 1px;
	margin: 10px;
	height: 1px;
	padding: 0;
	background-color: #092B40;
	position: absolute;
	top: 18px;
	right: 170px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: 0.35s;
	-moz-transition: 0.35s;
	transition: 0.35s;
}

.close-search::before {
	content: ' ';
	position: absolute;
	width: 17px;
	height: 4px;
	background-color: #D96F32;
	border-radius: 2px;
	top: 9px;

}

.close-search-expand {
	width: 1px;
	margin: 10px;
	height: 1px;
	padding: 0;
	background-color: #092B40;
	position: absolute;
	top: 16px;
	right: 89px;
	-webkit-transition: 0.35s;
	-moz-transition: 0.35s;
	transition: 0.35s;
	cursor: pointer;
}


.close-search-expand::before, .close-search-expand::after {
	content: ' ';
	position: absolute;
	width: 20px;
	height: 4px;
	background-color: #D96F32;
	border-radius: 2px;
	/*box-shadow: 0 0 2px 0 #ccc;*/
}

.close-search-expand::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	left: -9px;
}

.close-search-expand::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: -10px;
}

.query-result-box {
	display: block;
	background-color: white;
  	border: 4px solid #D96F32;
	height: 200px;
}
