:root {
  font-size: 62.5%; // make rem = 10px
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
  font-size: 1.6rem; // hack for root rem changing lol
}

p,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

// BUTTON STYLING
.costum-button {
	cursor: pointer;
  background-color: transparent;
  border: #000000 solid 0.1rem;
  width: 15rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  @include transition(0.3s ease-out);


  &:hover {
    background-color: $primary-color;
    color: #fff;
    @include transition(0.3s ease-out);
  }
}

a.costum-button {
  text-decoration: none;
  color: #000;
}
