nav#page-nav {
  position: fixed;
  font-family: $primary-font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  z-index: 999; // to make it on top, lil hack
  @include transition(0.5s ease);

  @media screen and (max-width: $width-minimum-pc) {
    background-color: #fff;
  }
}

.navbar-colored {
  background-color: $primary-color;
  opacity: 0.95;
  color: #ffffff;
  @include transition(0.5s ease);
}

.navbar-head {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    margin-left: 10rem;

    @media screen and (max-width: $width-minimum-pc) {
      margin-left: 2rem;
      font-size: 80%;
    }
  }
}

ul.navbar-ul {
  margin: 0 10rem 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .navbar-item {
    display: inline-flex;
    padding-left: 2rem;
    padding-right: 2rem;

    a {
      text-decoration: none;
      color: #000;
      display: inline-block;
      height: 100%;
      width: 100%;
      @include transition(0.2s ease);

      &:hover {
        color: $primary-color;
        @include transition(0.2s ease);
      }
    }
  }

  @media screen and (max-width: $width-minimum-pc) {
    margin: 0 2rem 0 0;
    font-size: 80%;
  }

  @media screen and (min-width: $width-small-phone) and 
  (max-width: $width-large-tablet - 1) {
    display: none;
  }
}

ul.navbar-ul-small {
  display: none;

  @media screen and (min-width: $width-small-phone) and 
  (max-width: $width-large-tablet - 1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  input {
    display: none;
  }

  label {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding:0 18px;
    line-height:3em;
    width: 6rem;
  }

  input:checked ~ ul.navbar-submenu{
    max-height:300px;
    transition:max-height 0.5s ease-in;
  }  

  ul.navbar-submenu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition:max-height 0.5s ease-out;
    position: absolute;
    min-width: 100%; // magic

    li a {
      display: block;
      background-color: $secondary-color;
      text-decoration: none;
      color: #000;
      padding: 1rem;
    }
  }
}