$primary-color: rgb(60, 37, 124);
$secondary-color: #609fdf;
$gray: #4b4b4b;
$graywhite: rgb(211, 211, 211);
$white: #fff;
$primary-font: "Electrolize", sans-serif;

// screen size
$width-small-phone: 320px;
$width-medium-tablet: 480px;
$width-large-tablet: 768px;
$width-minimum-pc: 992px;
$width-small-laptop: 1366px;

$height-small-laptop: 768px;